.currency_image {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  height: 225px;
  box-shadow: 3px 3px 20px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.main_title {
  text-align: center;
  font-size: 40px;
  font-family: 'Ubuntu';
}

.title {
  font-size: 23px;
  font-family: 'Ubuntu';
}

.text {
  margin: 0;
  font-family: 'Ubuntu';
  font-size: 13px;
  margin-bottom: 5px;
}

.equals {
  height: 25px;
  margin-top: 5px;
  font-size: 30px;
}

.input {
  width: 200px;
  height: 20px;
  border-radius: 7px;
  margin-right: 8px;
  font-family: 'Ubuntu';
}

@media screen and (min-width: 768px) {
  .currency_image {
    width: 35px;
    height: 35px;
    margin-top: 25px;
    margin-left: 25px;
  }

  .main_title{
    font-size: 50px;
  }

  .container {
    width: 600px;
    height: 300px;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 9px;
  }

  .equals {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 35px;
  }

  .input {
    width: 270px;
    height: 25px;
    color: #1459a8;
    font-weight: bold;
  }
}


@media screen and (min-width: 1200px) {
  .currency_image {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 40px;
  }

  .main_title{
    font-size: 60px;
  }

  .container {
    width: 900px;
    height: 340px;
  }

  .amount {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .title {
    font-size: 35px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .equals {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 35px;
  }

  .input {
    width: 320px;
    height: 30px;
  }
}
